<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/index.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <script src=index.js></script>
        <title>Mentality</title>
    </head>
    <body>
        
      <script>
        function visitPage_Edu(){
          window.location="/education";
            }

           function vistPage_Med(){
             window.location="/meditation"
           } 
           function vistPage_Wri(){
             window.location="/writing"
           } 
           function vistPage_About(){
            window.location="/about"
           }
           function vistPage_Contact(){
             window.location="/contact"
           }
           function vistPage_Home(){
             window.location="/"
           }

            
      </script>
        

          
        <div class="header">
          <a href="#default" class="logo">SchoolLogo</a>
          <div class="header-right">
            <!-- <a class="active" href="#home">Home</a> -->
            <!-- <a href="#contact">Contact</a> -->
            <!-- <a href="#about">About</a> -->
          <a>
            <button onclick="vistPage_About();">About</button>
          </a>
          <a>
            <button onclick="vistPage_Contact();">Contact</button>
          </a>
          <a>
            <button onclick="vistPage_Home();">Home</button>
          </a>
          </div>
        </div>

        <div class="container">
            <div class="text-block">
              <h1>Mentality</h1>
              <!-- <p>This is an app for mental health for all otumoetai students<br/> -->
             
                <button id="button_M" class="buttons", onclick="vistPage_Med();">Meditation</button>
                <button id="button_W" class="buttons", onclick="vistPage_Wri();"">Writing</button>
                <button id="button_E" class="buttons", onclick="visitPage_Edu();">Education</button>
                
              <h2>
                <script>
                for(var i =0; i < 3; i ++){
                'In our team we have people'}
                </script>
                <!-- In our team we have<br/> 
                <%=data.name[0]%>:
                who is <%=data.title[0]%><br/>
                <%=data.name[1]%>:
                who is <%=data.title[1]%><br/>
                <%=data.name[2]%>:
                who is <%=data.title[2]%><br/> -->

                
               
                <!-- <ul> 
                    <% data.name.forEach((item)=>{%> 
                    <%=item%>  
                    <%});%> 
                </ul>  -->
            </h2>
              
             </div> 
        </div>
      </p>
        
    </body>
</html>
